@model JobOffer
@using Microsoft.AspNetCore.Identity;
@inject UserManager<VAC_TUser> UserManager
@inject RoleManager<IdentityRole> RoleManager
@inject SignInManager<VAC_TUser> SignInManager
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (User.IsInRole("ROLE_ADMIN") || User.IsInRole("ROLE_EMPLOYER"))
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-10">
                <a class="navbar-brand text-orange" asp-area="" asp-action="SelectQuestionsForJobOffer" asp-route-id="@Model.Id">
                    <h4>Interview vragen selecteren</h4>
                </a>
            </div>
        </div>
    </div>
}
<div class="container-fluid">
    <div class="row">
        <div class="col-2 text-center">
           <img lass="rounded-circle img" src=@Url.Content("~/" + Model.LogoURL) width="100%" alt="Logo" />
        </div>
        <div class="col-10">
            <div class="contair-fluid">
                <div class="details-date" >
                    <h7>@Html.DisplayFor(model => model.Created)</h7>
                </div>
                <div class="details-name">
                    <h4>@Model.Name</h4>
                </div>
                <div class="row">
                    <div class="details-info">
                        <div class="details-level w-max d-inline-flex">
                            <div class="text-orange white-space-pre-wrap d-inline-flex">
                                <h5>Niveau: </h5>
                            </div>
                            <h5>@Model.Level</h5>
                        </div>
                        <div class="details-location w-max float-end d-inline-flex">
                            <h5>@Model.Residence</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2 text-center">
            <img class="rounded-circle img" src="@Url.Content("~/" + Model.Company.LogoURL)" width="100%" alt="Company Logo" />
        </div>
        <div class="col-10">
            <p>@Model.Description</p>
        </div>
    </div>
    @if (SignInManager.IsSignedIn(User))
    {
        if (User.IsInRole("ROLE_CANDIDATE"))
        {
            <div class="row Solicitate align-items-center">
                <div class="solicitate-arrow col-2">
                    <img class="rounded-circle float-end" src=@Url.Content("~/assets/arrow.png") height="50" width="50" alt="Arrow" />
                </div>
                <div class="solicitate-now d-flex col-8">
                        @if (Model.Solicitations.Count == 0)
                        {
                            <a class="navbar-brand text-orange" asp-area="" asp-controller="Answers" asp-action="AnswerQuestions" asp-route-Id="@Model.Id">
                                <h4>SOLLICITEER</h4>
                            </a>
                    } else
                    {
                        <a class="navbar-brand text-orange" asp-area="" asp-controller="Answers" asp-action="AnswerQuestions" asp-route-Id="@Model.Id">
                            <h4>NAAR INTERVIEWVRAGEN</h4>
                        </a>
                        if (Model.Solicitations.First().AppointmentId == null)
                        {
                            <a class="navbar-brand text-orange" asp-area="" asp-controller="Solicitations" asp-action="Delete" asp-route-jobOfferId="@Model.Id">
                                <h4>ANNULEER SOLLICITATIE</h4>
                            </a>
                        } else
                        {
                            <a class="navbar-brand text-orange" asp-area="" asp-controller="Appointments" asp-action="Details" asp-route-Id="@Model.Solicitations.First().AppointmentId">
                                <h4>GESPREK GEPLANNED</h4>
                            </a>
                        }
                        }

                </div>
            </div>
        }
        if (User.IsInRole("ROLE_EMPLOYER") || User.IsInRole("ROLE_ADMIN"))
        {
            <div class="row Solicitate align-items-center">
                <div class="solicitate-arrow col-2">
                </div>
                <div class="solicitate-now d-flex col-8">
                    <a class="navbar-brand text-orange" asp-area="" asp-action="Edit" asp-route-id="@Model.Id">
                        <h4>EDIT VACATURE</h4>
                    </a>
                    <a class="navbar-brand text-orange" asp-area="" asp-action="Delete" asp-route-id="@Model.Id">
                        <h4>DELETE VACATURE</h4>
                    </a>
                </div>
            </div>
            <div class="row Solicitate align-items-center">
                <div class="solicitate-arrow col-2">
                </div>
                <div class="solicitate-now col-8 w-max d-inline-flex">
                    <div class="text-orange white-space-pre-wrap d-inline-flex">
                            <h5>Status: </h5>
                    </div>
                    @if (Model.Closed == null)
                    {
                        <h5>Open</h5>
                    } else
                    {
                        <h5>Gesloten op: @Model.Closed</h5>
                    }
                </div>
            </div>
        }
    }
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-10">
            <div class="jobOffer-details-company white-space-pre-wrap d-inline-flex">
                <h5>Meer Vacatures van</h5>
                <a class="jobOffer-details-company-name text-orange d-inline-flex text-decoration-none" asp-area="" asp-controller="Companies" asp-action="Details" asp-route-id="@Model.Company.Id">
                    <h5> @Model.Company.Name</h5>
                </a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Created)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Level)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Company.JobOffers.Where(x => x.Id != Model.Id))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Created)
                            </td>
                            <td>
                                <a class="text-decoration-none text-orange" asp-action="Details" asp-route-id="@item.Id" >@Html.DisplayFor(modelItem => item.Name)</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Level)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
