@model IEnumerable<JobOffer>
@using Microsoft.AspNetCore.Identity;
@inject UserManager<VAC_TUser> UserManager
@inject RoleManager<IdentityRole> RoleManager
@inject SignInManager<VAC_TUser> SignInManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (SignInManager.IsSignedIn(User))
{ if (User.IsInRole("ROLE_EMPLOYER"))
    {
        <p>
            <a asp-action="Create">Maak een nieuwe vacature</a>
        </p>
    }
}

<div class="container-fluid">
    <div class="row">
        <div class="home-left col-3">
            <a asp-action="Details" asp-route-id="@Model.First().Id"><img class="rounded-circle img" src=@Url.Content("~/" + Model.First().LogoURL) height="200" width="200" alt="Logo" /></a>
            <div class="info-joboffer-left background-color-gray text-white">
                <h4>@Model.First().Level @Model.First().Name.Substring(0, Model.First().Name.IndexOf("voor"))</h4>
            </div>
            <div class="info-joboffer-left-bottom background-color-gray text-white">
                <h5>@Model.First().Company.Name , @Model.First().Residence</h5>
            </div>
        </div>
        <div class="col-9"
            <div class="container-fluid">
                <div class="home-right row">
                    @foreach(var item in Model)
                    {
                        <div class="joboffer-right col-2"> 
                            <img class="rounded-circle img" src=@Url.Content("~/" + item.LogoURL) height="100" width="100" alt="Logo" />
                        </div>
                        <div class="info-joboffer-right col-7">
                            <h7>@Html.DisplayFor(modelitem => item.Created)</h7>
                            <h4>@item.Name</h4>
                            @if (@item.Description.ToString().Length > 39) {
                                <p>@item.Description.ToString().Substring(0, 39)...</p>
                            } else
                            {
                                <p>@item.Description.ToString()</p>
                            }
                        </div>
                        <div class="col-2">
                                    <a asp-action="Details" asp-route-id="@item.Id"><img class="rounded-circle" src=@Url.Content("~/assets/arrow.png") height="100" width="100" alt="Details" /></a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>