@model VAC_T.Models.Company

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row align-items-center">
        <div class="Company-logo col-2">
            <img class="rounded-circle" src="@Url.Content(("~/" + Model.LogoURL))" height="150" width="150" alt="Logo afbeelding" />
        </div>
        <div class="userdetails-title col-10 d-flex text-orange ">
            <h1>Details @Model.Name</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-10">
            <dl class="col-8 row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.WebsiteURL)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.WebsiteURL)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Postcode)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Postcode)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Residence)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Residence)
                </dd>
            </dl>
            <div class="company-description-title text-orange col-12">
                <h4>@Html.DisplayNameFor(model => model.Description)</h4>
            </div>
            <div class="company-description col-12">
                <p>@Html.DisplayFor(model => model.Description)</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-10">
            <a class="companydetails-edit-button text-decoration-none text-orange bottom-50" asp-action="Edit" asp-route-id="@Model?.Id">
                <h4 class="padding-top-5">Edit</h4>
            </a>
        </div>
    </div>
</div>
