@model IEnumerable<VAC_T.Models.Company>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-orange">
<h1>Bedrijven</h1>
</div>

<p>
    <a class="text-decoration-none text-orange" asp-action="Create">Bedrijf toevoegen</a>
</p>

<form class="container-fluid" asp-action="Index" method="get">
    <div class="form-action row align-items-center">
        <p>
            <div class="col-3">
                Bedrijf: <input type="text" class="form-control" name="searchName" value="@ViewData["searchName"]" />
            </div>
            <div class="col-3 d-flex">
                <input type="submit" value="Filter" class="btn btn-primary" />
                <a class="padding-left-05" asp-action="index">
                    <input type="button" value="Clear" class="btn btn-primary" />
                </a>
            </div>
        </p>
        <hr />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Opties
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="text-decoration-none text-orange"  asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="text-decoration-none text-orange"  asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="text-decoration-none text-orange" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
