@using static VAC_T.Models.RepeatAppointment;
@model VAC_T.Models.RepeatAppointment
@using VAC_T.Services;

@{
    ViewData["Title"] = "DetailsRepeatAppointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details RepeatAppointment</h1>

<div>
    <h4>RepeatAppointment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Repeats)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Repeats)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsOnline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsOnline)
        </dd>
        <dt class="col-sm-2">
            Herhaaltijdstip:
        </dt>
        <dd class="col-sm-10">
            @if (Model.Repeats == RepeatsType.Daily)
            {
                @Html.DisplayFor(modelItem => Model.Repeats)
            }
            @if (Model.Repeats == RepeatsType.Weekly)
            {
                @if (Model.RepeatsWeekdays.HasValue == false)
                {
                    <a asp-action="SetRepeatAppointmentRepeatInfo" asp-route-id="@Model.Id">Dagen kiezen</a>
                }
                else
                {
                    <p>@Model.RepeatsWeekdays.GetDisplayName()</p>
                }
            }
            @if (Model.Repeats == RepeatsType.Monthly)
            {
                @if (Model.RepeatsDay.HasValue == false)
                {
                    <a asp-action="SetRepeatAppointmentRepeatInfo" asp-route-id="@Model.Id">Dag kiezen</a>
                }
                else
                {
                    @Html.DisplayFor(modelItem => Model.RepeatsDay)
                }
            }
            @if (Model.Repeats == RepeatsType.MonthlyRelative)
            {
                @if (Model.RepeatsRelativeWeek.HasValue == false || Model.RepeatsWeekdays.HasValue == false)
                {
                    <a asp-action="SetRepeatAppointmentRepeatInfo" asp-route-id="@Model.Id">Dagen kiezen</a>
                }
                else
                {
                    <p>@Model.RepeatsRelativeWeek.GetDisplayName() @Model.RepeatsWeekdays.GetDisplayName()</p>
                }
            }
        </dd>
    </dl>
</div>
@if (User.IsInRole("ROLE_EMPLOYER") || User.IsInRole("ROLE_ADMIN"))
{
    <div>
        <a asp-action="EditRepeatAppointment" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Index">Back to List</a> |
        @if (Model!.Repeats != RepeatsType.Daily)
        {
            <a asp-action="SetRepeatAppointmentRepeatInfo" asp-route-id="@Model.Id">Edit Herhaal Info</a>
        }
    </div>
}
