@model AppointmentViewModel
@using static VAC_T.Models.RepeatAppointment;
@using VAC_T.Services;

@{
    ViewData["Title"] = "Sollicitatie gesprekken";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
@if (User.IsInRole("ROLE_EMPLOYER"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <p>
        <a asp-action="CreateRepeatAppointment">Create RepeatAppointment New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.Appointments.FirstOrDefault().Date)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Appointments.FirstOrDefault().Time)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Appointments.FirstOrDefault().Duration)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Appointments.FirstOrDefault().IsOnline)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Appointments.FirstOrDefault().Company)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Appointments.FirstOrDefault().Solicitation)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Appointments.FirstOrDefault().JobOffer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Appointment item in Model.Appointments) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOnline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solicitation.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobOffer.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.RepeatAppointments.FirstOrDefault().Company)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.RepeatAppointments.FirstOrDefault().Time)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.RepeatAppointments.FirstOrDefault().Duration)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.RepeatAppointments.FirstOrDefault().IsOnline)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.RepeatAppointments.FirstOrDefault().Repeats)
            </th>
            <th>
                Herhalingstijdstip
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (RepeatAppointment item in Model.RepeatAppointments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsOnline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Repeats)
                </td>
                <td>
                    @if (item.Repeats.HasFlag(RepeatsType.Daily))
                    {
                        @Html.DisplayFor(modelItem => item.Repeats)
                    }
                    @if (item.Repeats.HasFlag(RepeatsType.Weekly))
                    {
                        @if (item.RepeatsWeekdays.HasValue == false)
                        {
                            <a asp-action="SetRepeatAppointmentRepeatInfo" asp-route-id="@item.Id">Dagen kiezen</a>
                        }
                        else
                        {
@*                            @Html.DisplayFor(modelItem => item.RepeatsWeekdays)*@
                            <p>@item.RepeatsWeekdays.GetDisplayName()</p>
                        }
                    }
                </td>
                <td>
                    <a asp-action="EditRepeatAppointment" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="DetailsRepeatAppointment" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="DeleteRepeatAppointment" asp-route-id="@item.Id">Delete</a> |
                    @if (item.Repeats.HasFlag(RepeatsType.Daily) == false)
                    {
                            <a asp-action="SetRepeatAppointmentRepeatInfo" asp-route-id="@item.Id">Edit Herhaal Info</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
