@model SelectAppointmentViewModel
@{
    ViewData["Title"] = "Select";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Select</h1>

<form class="align-items-center" asp-action="Select" method="post">
    <p>
        <div class="col-4">
            <div class="form-input">
                <input type="hidden" asp-for="SolicitationId" />
                <div class="form-group">
                    <label asp-for="SelectedAppointmentId" class="control-label">Gesprekstijd:</label>
                    <select asp-for="SelectedAppointmentId" class="form-select">
                        <option selected disabled>Plan het sollicitatiegesprek.</option>
                        @foreach (var item in Model.Appointments)
                        {
                            var value = "";
                            @if (item.Id != 0)
                            {
                                value = item.Id.ToString();
                            } else
                            {
                                value = item.Time.ToString() + "_" + item.RepeatAppointmentId.ToString();
                            }

                            <option value="@value">@Html.DisplayFor(modelItem => item.Date) @Html.DisplayFor(modelItem => item.Time)</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="col-3 d-flex">
            <input type="submit" value="Gesprek bevestigen" class="btn btn-primary" />
        </div>
    </p>
    <hr />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Appointments.FirstOrDefault().Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointments.FirstOrDefault().Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointments.FirstOrDefault().Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointments.FirstOrDefault().IsOnline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointments.FirstOrDefault().Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointments.FirstOrDefault().JobOffer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Appointments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsOnline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobOffer.Name)
                </td>
            </tr>
        }
    </tbody>
</table>
