@model IEnumerable<VAC_T.Models.AnswerViewModel>

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Weet je zeker dat je dit wil verwijderen?</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobOffer.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.First().JobOffer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobOffer.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.First().JobOffer.Description)
        </dd>
    </dl>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnswerText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Explanation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Question.QuestionText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayAnswerText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Explanation)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <form asp-action="DeleteUserAnswersForJobOffer">
        <input type="hidden" asp-for="First().Id" />
        <input type="hidden" asp-for="First().UserId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-area="" asp-controller="Answers" asp-action="Index">
            <input type="button" value="Terug naar index" class="btn btn-primary"/></a>
        <a asp-area="" asp-controller="Answers" asp-action="DetailsPerJobOffer" asp-route-id="@Model.First().JobOfferId", asp-route-userId="@Model.First().UserId">
            <input type="button" value="Terug naar details" class="btn btn-primary"/></a>
    </form>
</div>
