@model IEnumerable<VAC_T.Models.Answer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
@if (User.IsInRole("ROLE_ADMIN"))
{
    <div>
        <form class="row align-items-center" asp-action="Create" method="get">
            <div class="form-group col-4">
                <label class="control-label">Vacature</label>
                <select name="id" class="form-select" asp-items="ViewBag.JobOffers">
                    <option disabled selected>Kies een vacature</option>
                </select>
                <input type="submit" value="Antwoorden maken" class="btn btn-primary" />
            </div>
        </form>
    </div>
}
<table class="table">
    <thead>
        <tr>
@*            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.JobOffer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.AnswerText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Explanation)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
@*            <td>
                @Html.DisplayFor(modelItem => item.Question.ExplanationType)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.JobOffer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.AnswerText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Explanation)
            </td>*@
            <td>
                <a asp-action="DetailsPerJobOffer" asp-route-id="@item.JobOfferId" asp-route-userid="@item.UserId">Details</a>
                    @if (User.IsInRole("ROLE_CANDIDATE") || User.IsInRole("ROLE_ADMIN"))
                    {
                        @(" | ")
                        <a asp-action="DeleteUserAnswersForJobOffer" asp-route-id="@item.JobOfferId" asp-route-userId="@item.UserId">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
