@model IEnumerable<VAC_T.Models.Solicitation>
@using Microsoft.AspNetCore.Identity;
@inject UserManager<VAC_TUser> UserManager
@inject RoleManager<IdentityRole> RoleManager
@inject SignInManager<VAC_TUser> SignInManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (SignInManager.IsSignedIn(User))
{
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="Solicitation-profile-pic col-2">
                <img class="rounded-circle" src="@Url.Content("~/" + (await UserManager.GetUserAsync(User)).ProfilePicture)" width="100%" alt="Profiel afbeelding">
            </div>
            <div class="Solicitations-title col-10 text-orange d-flex">
                <h1>MIJN SOLLICITATIES</h1>
            </div>
        </div>
        
        <div class="row align-items-center">
            <div class="col-2"></div>
            <div class="form-action col-10">
                <form class="row align-items-center" asp-action="Index" method="get">
                    <p>
                        <div class="col-4">
                            Vacature: <input type="text" class="form-control" name="searchName" value="@ViewData["searchName"]" />
                        </div>
                        @if (User.IsInRole("ROLE_CANDIDATE") || User.IsInRole("ROLE_ADMIN"))
                        {
                            <div class="col-4">
                                Bedrijf: <input type="text" class="form-control" name="searchCompany" value="@ViewData["searchCompany"]" />
                            </div>
                        }
                        @if (User.IsInRole("ROLE_EMPLOYER") || User.IsInRole("ROLE_ADMIN"))
                        {
                            <div class="col-4">
                                Naam kandidaat: <input type="text" class="form-control" name="searchCandidate" value="@ViewData["searchCandidate"]" />
                            </div>
                        }
                        <div class="col-4">
                            Uitgenodigd: 
                            <div class="form-input">
                            Ja:<input type="checkbox" name="searchSelectedYes" value="true" checked="@ViewData["searchSelectedYes"]" />
                            </div>
                            <div class="form-input">
                            Nee:<input type="checkbox" name="searchSelectedNo" value="true" checked="@ViewData["searchSelectedNo"]" />
                            </div>
                        </div>
                        <div class="col-3 d-flex">
                            <input type="submit" value="Filter" class="btn btn-primary" />
                            <a class="padding-left-05" asp-action="index">
                                <input type="button" value="Clear" class="btn btn-primary" />
                            </a>
                        </div>
                    </p>
                    <hr />
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
            </div>
            <div class="Solicitation-table col-10 d-inline-flex">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.JobOffer.Created)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.JobOffer.Name)
                            </th>
                            @if (User.IsInRole("ROLE_CANDIDATE") || User.IsInRole("ROLE_ADMIN"))
                            {
                                <th>
                                    @Html.DisplayNameFor(model => model.JobOffer.Company.Name)
                                </th>
                            }
                            @if (User.IsInRole("ROLE_EMPLOYER") || User.IsInRole("ROLE_ADMIN"))
                            {
                                <th>
                                    @Html.DisplayNameFor(model => model.User.Name) kandidaat
                                </th>
                            }
                            <th>
                                @Html.DisplayNameFor(model => model.Selected)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    <a class="text-decoration-none text-orange" asp-controller="JobOffers" asp-action="Details" asp-route-id="@item.JobOffer.Id">
                                        @if(item.JobOffer.Name.Contains("voor"))
                                        {
                                            var range = item.JobOffer.Name.IndexOf("voor");
                                            @item.JobOffer.Name.Substring(0, range)
                                        } else
                                        {
                                            var range = item.JobOffer.Name.Length;
                                            @item.JobOffer.Name.Substring(0, range)
                                        }
                                    </a>
                                </td>
                                @if (User.IsInRole("ROLE_CANDIDATE") || User.IsInRole("ROLE_ADMIN"))
                                {
                                    <td>
                                        <a class="text-decoration-none text-orange" asp-controller="Companies" asp-action="Details" asp-route-id="@item.JobOffer.Company.Id">
                                            @Html.DisplayFor(modelItem => item.JobOffer.Company.Name)
                                        </a>
                                    </td>
                                }
                                @if (User.IsInRole("ROLE_EMPLOYER") || User.IsInRole("ROLE_ADMIN"))
                                {
                                        <td>
                                            <a class="text-decoration-none text-orange" asp-controller="UserDetails" asp-action="Details" asp-route-id="@item.User.Id">
                                                @Html.DisplayFor(modelItem => item.User.Name)
                                            </a>
                                        </td>
                                }
                                @if (User.IsInRole("ROLE_CANDIDATE"))
                                {
                                    <td>
                                        @Html.CheckBoxFor(modelItem => item.Selected)
                                    </td>
                                }
                                @if (User.IsInRole("ROLE_EMPLOYER") || User.IsInRole("ROLE_ADMIN"))
                                {
                                    <td>
                                        <a class="text-decoration-none text-orange" asp-action="Select" asp-route-id="@item.Id">
                                            @Html.CheckBoxFor(modelItem => item.Selected)
                                        </a>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
