@model VAC_T.Models.Question

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Vraag</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MultipleOptions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MultipleOptions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExplanationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExplanationType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OptionsAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OptionsAmount)
        </dd>
    </dl>
</div>

@if (Model.Type == "Meerkeuze" || Model.Type == "Standpunt")
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Options.First().OptionShort)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Options.First().OptionLong)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Options)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OptionShort)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OptionLong)
                    </td>
                    <td>
                        @if (Model.Type == "Meerkeuze")
                        {
                            <a asp-action="EditOption" asp-route-id="@item.Id">Edit</a>
                            <a asp-action="DeleteOption" asp-route-id="@item.Id">Delete</a>
                        } else
                        {
                            <a asp-action="EditOption" asp-route-id="@item.Id">Edit</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<div>
    @if (Model.Type == "Meerkeuze")
    {
        <a asp-action="CreateOptions" asp-route-id="@Model?.Id">
            <input type="button" value="Opties toevoegen" class="btn btn-primary" />
        </a> 
    }
    @if (Model.Type == "Standpunt" && Model.Options.Count() == 0)
    {
        <a asp-action="CreateOptions" asp-route-id="@Model?.Id">
            <input type="button" value="Opties toevoegen" class="btn btn-primary" />
        </a>
    }
    <a asp-action="Edit" asp-route-id="@Model?.Id">
        <input type="button" value="Edit" class="btn btn-primary" />
    </a> 
    <a asp-action="Index">
        <input type="button" value="Terug naar index" class="btn btn-primary" />
    </a>
</div>
