@model VAC_T.Models.Question

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MultipleOptions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MultipleOptions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExplanationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExplanationType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OptionsAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OptionsAmount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
